﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="login">
    <div class="title">
        <h1>CO'S CROCHET</h1>
        <h3>ORDERING AND SALES SYSTEM</h3>
    </div>
    <div class="login-form">
            <form asp-action="Login" asp-controller="Login" method="post">
            <h2>Administrator</h2>
            <div class="input-container">
                <div class="input-wrapper">
                    <label for="username" class="icon"><i class="fa-regular fa-user"></i></label>
                    <input type="text" id="username" name="username" placeholder="Admin ID" >
                </div>
                <div class="input-wrapper">
                    <label for="password" class="icon"><i class="fas fa-lock"></i></label>
                    <input type="password" id="password" name="password" placeholder="Password"/> 
                </div>

                <button type="submit">Sign In</button>
            </div>

        </form>
    </div>
    <img src="~/images/Group.svg" alt="" class="bottom-left-image">
</div>
