<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ordering_and_sales_system</title>
    <link rel="stylesheet" href="~/css/signin.css">
</head>

<body>
  <div class="default">
        @RenderBody()
    </div>


   @*  <script src="~/js/login.js"></script> *@
</body>

</html>
